# Configurações da API do Asaas
# Crie sua conta de testes em: https://sandbox.asaas.com
# Gere a chave de API em: Menu lateral > Configurações da Conta > Integrações > Chaves de API
ASAAS_API_KEY=$aact_sandbox_SEU_TOKEN_AQUI

# Ambiente: 'sandbox' para testes ou 'production' para cobranças reais
ASAAS_ENVIRONMENT=sandbox

# Telefone oficial de suporte / recepção da Academia Metamorfose (formato DDI + DDD + Número)
WHATSAPP_NUMBER=5511999999999
